<template name="confirm">
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box has-text-centered">
        <h3 class="subtitle is-5">{{title}}</h3>
        <p>
          {{message}}
        </p>
        <div class="space-block"></div>
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button type="button" class="button is-primary js-yes">
              <span class="icon">
                <i class="fa fa-check"></i>
              </span>
              <span>Yes</span>
            </button>
          </div>
          <div class="control">
            <button type="button" class="button js-no">
              <span class="icon">
                <i class="fa fa-close"></i>
              </span>
              <span>No</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>